:root {
    --white: #ffff;
    --black: #000;
    --primary: #00abfb;
    --secondary: #7bc62d;
    --gray: #9e9e9e;
    --primaryfont: Arial, Helvetica, sans-serif;
}

body{
    color: var(--black);
    font-family: var(--primaryfont);
}

h1{
font-size: 40px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 40px;
}

.content{
    width: 1000px;
    margin: 0 auto;
}
.title{
    color: var(--black);   
    text-align: center;
    font-weight: 700;
} 

.title span{
    font-size: 20px;
}

.nav-bg{
    background-color: var(--primary);
}

.primary-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.primary-nav a{
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.primary-nav a:hover{
    background-color: var(--secondary);
    color: var(--black);
}

.hero{
    background-image: url(/hero.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido-hero{
    background-color: rgb(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--white);
    text-align: center;
}

.location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    margin-bottom: 20px;
}

